html
  head
    link(href='https://fonts.googleapis.com/css2?family=Bangers&display=swap', rel='stylesheet')
    title= title
    link(rel='stylesheet', href='./css/index.css')
  body
    p#welcomeTitle Welcome to MovieSpot, your very own personal Movie Database!
    section#container
      h1= message
      input#userInput(type='text') 
      br
      #homeButtons
        button#searchButton(type='submit') Search
        button#createButton(type='submit') Create
    div#faveContainer
      h2 Your favorite films:
      #faveFilmSect
  script(src="script.js" defer)