html
  head
    title= title
  body
    h1= message
    input#userInput(type='search')
    input#searchButton(type='submit')
    button#homeButton(type='submit') Home
    script(src='script.js' defer)
