body{
    background-image: url("https://cdnb.artstation.com/p/assets/images/images/024/917/399/medium/justin-williams-pm-mysterymountain.jpg?1583950935");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;

}
#pokeTitle{
    width: 100%;
    display: flex;
    justify-content: center;
}
#pokeContainer {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-around;
    margin: 20px;
}

.pokeBall {
    display: flex;
    width: 300px;
    height: 500px;
    border: black 2px solid;
    border-radius: 10px;
    padding: 0px 20px 10px 20px;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    background-image: url("https://i.pinimg.com/236x/eb/4e/4c/eb4e4cb028feb998850a5957a9d1e738--pokemon-birthday-party-invitations-pokemon-theme-party.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
#pokeName {
    width: 85%;
    text-transform: uppercase;
    position: relative;
    top: -15px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
}

#pokePic {
    width: 88%;
    height: 162px;
    border: yellowgreen 1px dotted;
    padding: 10px 10px;
    position: relative;
    top: -51px;
    left: 16px;
    border-radius: 5px;
}



#pokeAbilities {
    width: 90%;
    height: 90px;
    position: relative;
    top: -65px;
    left: 10px;
    padding: 10px 10px;
    border: 1px dotted deeppink;
    border-radius: 5px;
}

/*****************************/
/************IMAGES***********/
/*****************************/
#catchEm{
    margin: 20px 20px;
    height: 200px;
    width: 500px;
}

/*****************************/
/*********PSEUDO CLASS********/
/*****************************/

.pokeBall:hover{
    border: 2px solid whitesmoke;
    transition: border .8s;
}